.appHeader {
  display: flex;
  background: #4a4a35;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);

  &-logo {
    width: 15rem;
    margin-top: 0.8rem;
    margin-left: 6.5rem;
  }
}
