@media only screen and (min-device-width: 668px) {
  .appHeader {
    display: flex;
    background: #4a4a35;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);

    &-logo {
      width: 15rem;
      margin-top: 0.8rem;
      margin-left: 6.5rem;
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .appHeader {
    display: flex;
    margin-left: 0.6rem;

    &-logo {
      width: 5rem;
      margin-top: 0.6rem;
    }
  }
}
