@use 'src/styles/vars';
@use 'sass:color';

@media only screen and (min-device-width: 668px){
  .welcome-container {
    background-color: #262835;
    border-bottom: 50px solid #18181a62;
    border-top: 50px solid #18181a60;

  }

  .welcome {

    &-blockText {
      margin: auto;
      width: 100%;
      text-align: center;
      padding: 3rem;
      z-index: 11;
      font-family: 'PT Sans', cursive;
      letter-spacing: 0.2em;
      line-height: 1.8em;
      color: white;
      font-size: 1.3em;
      transition: 3s;
      border-radius: 15px;
    }
    
    &-paragraph {
      position: relative;
      margin-bottom: 1.4rem;
      z-index: 11;
    }

    &-mobile {
      display: none;
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .welcome-container {
    background-color: #262835;
    border-bottom: 2em solid rgba(24,24,26,.38431);
    border-top: 2em solid rgba(24,24,26,.37647);

  }

  .welcome {

   &-blockText {
    display: none;
    } 
    
    &-paragraph {
      position: relative;
      margin-bottom: 0.8rem;
      z-index: 11;
  
    }

    &-mobile {
      margin: auto;
      width: 100%;
      text-align: center;
      padding: .8rem 1.4rem;
      z-index: 11;
      font-family: PT Sans,cursive;
      letter-spacing: .1em;
      line-height: 1.3em;
      color: #fff;
      font-size: 1.1em;
      transition: 3s;
      border-radius: 15px;
    }
  }
}
