.displayADish {

  &-container {
    border: .2rem solid coral;
    margin: 2rem 17rem;
    padding: 1.3rem;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
  }

  &-headerDish {
    display: flex;
    justify-content: space-between;

    &-container {
      width: 20%;
    }

    &-content {

    }

    &-title {
      font-size: xx-large;
      margin-bottom: 3rem;
      width: max-content;
  
    }

    &-author {

    }

    &-portion {

    }

    &-city {

    }

    &-img {
      width: 33%;
      height: 36vh;
    }
  }

  &-ingredients {

    &-container {

    }
    &-content {

    }

    &-text {

    }
  }

  &-description {

    &-content {

    }

    &-text {

    }
  }

  &-button {
    width: 5rem;
    height: 3rem;
    display: flex;
    align-items: center;

  }
}


// style de la modale swap
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

