@use 'src/styles/vars';
@use 'sass:color';
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.displayADish {

  background-color: #{vars.$darkBlue};
  margin: 0;
  padding: 7% 0;
  height: 80vh;
  text-align: left;
  font-size: 1.2rem;

  &-container {
    width: 60%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  }

  &-img-container {
    width: 60%;
  }

  &-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &-right {
    margin-left: 2rem;
    color: white;

    &-title {
      font-size: 2.3rrem;
      color: white;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
      letter-spacing: 2px;
    }

    &-portion {
      font-size: 0.4rem;
      margin-left: 2rem;
    }

    &-author {
      text-transform: capitalize;
      color: #{vars.$coral};
      font-weight: 700;
      font-family: 'Gudea', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }

  &-ingredients {

    &-title {
      margin: 1.8rem 0 1rem 0;
      font-size: 1.2rem;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &-text {
      display: block;
      background-color: #{vars.$coral};
      padding: 0.5rem;
      border-radius: 5px;
      margin: 0.5rem;
      color: black;
      text-transform: capitalize;
    }
  }

  &-description {

    &-text {
      margin-left: 2rem;
    }
    &-title {
      margin: 1rem 0 0.5rem 0;
      font-size: 1.2rem;
    }
  }

  &-button {
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
    background: transparent;
    border: 2px solid #f8a587;
    color: #f8a587;
    text-transform: uppercase;
    transition-property: background, color;
    transition-duration: 0.8s;
    margin: 2rem 0;
  }

  &-button:hover {
    color:black;
    background:#f8a587 ;
    cursor:pointer;
    transition-property:background,color;
    transition-duration:.8s;
  }
}



// style de la modale swap
// .modal-overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1040;
//   width: 100vw;
//   height: 100vh;
//   background-color: #000;
//   opacity: .5;
// }

// .modal-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1050;
//   width: 100%;
//   height: 90%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   outline: 0;
// }

// .modal {
//   z-index: 100;
//   background: white;
//   position: relative;
//   margin: 1.75rrem auto;
//   border-radius: 3px;
//   max-width: 500px;
//   padding: 2rrem;
// }

// .modal-header {
//   display: flex;
//   justify-content: flex-end;
// }

// .modal-close-button {
//   font-size: 1.4rrem;
//   font-weight: 700;
//   line-height: 1;
//   color: #000;
//   opacity: .3;
//   cursor: pointer;
//   border: none;
// }

// button {
//   font-size: .9rrem;
//   font-weight: 700;
//   border: none;
//   border-radius: 3px;
//   padding: .3rrem 1rrem;
//   margin-left: .5rrem;
// }

