@use 'src/styles/vars';
@use 'sass:color';
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.displayADish {

  background-color: #{vars.$darkBlue};
  margin: 0;
  padding: 7% 0;
  min-height: calc(100vh - 188px);
  text-align: left;
  font-size: 1.2rem;

  &-container {
    width: 60%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  }

  &-img-container {
    width: 50%;
    background-size: cover;
    background-position: center center;
  }

  &-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  &-right {
    margin-left: 2rem;
    color: white;

    &-title {
      font-size: 2.3rem;
      color: white;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
      letter-spacing: 0.2em;
      font-weight: bold;
    }

    &-portion {
      font-size: 0.8rem;
    }

    &-author {
      text-transform: capitalize;
      color: #{vars.$coral};
      font-weight: 700;
      font-family: 'Gudea', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin-top: 1rem;
    }
  }

  &-ingredients {
    &-title {
      margin: 1.8rem 0 1rem 0;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-text {
      display: block;
      background-color: #{vars.$coral};
      padding: 0.5rem;
      border-radius: 5px;
      margin: 0.5rem;
      color: black;
      text-transform: capitalize;
    }
  }

  &-description {
    &-title {
      margin: 1rem 0 0.5rem 0;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 2rem;
    }

    &-text {
      width: 70%;
      line-height: 1.6em;
    }
  }

  &-button {
    border-radius: 50px;
    padding: 0.5rem 0.8rem;
    background: transparent;
    border: 2px solid #f8a587;
    color: #f8a587;
    text-transform: uppercase;
    transition-property: background, color;
    transition-duration: 0.8s;
    margin: 2rem 0;
  }

  &-button:hover {
    color:black;
    background:#f8a587 ;
    cursor:pointer;
    transition-property:background,color;
    transition-duration:.8s;
  }

  &-skeleton-mobile {
    display: none;
  }

  &-skeleton-desktop {
    margin: auto;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  }
}

@media screen and (max-width: 415px) {
  .displayADish {
    &-img-container {
      justify-content: center;
      padding: 1rem;
      width: 100%;
      height: 25vh;
    }

    &-right {
      margin-left: 0;
      width: 80%;

      &-title {
        font-size: 1.6rem;
        color: white;
        text-transform: uppercase;
        margin: 1rem 0 0.5rem 0;
        letter-spacing: 0.2em;
        font-weight: bold;
      }
    }

    &-ingredients {

      &-text {
        font-size: 0.9rem;
      }
    }
  }

}

@media screen and (max-width: 1650px) {
  .displayADish-container {
    width: 80%;
  }

  .displayADish-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
} 
@media screen and (max-width: 1250px) {
  .displayADish-container {
    width: 80%;
  }
} 

@media screen and (max-width: 1025px) {
  .displayADish-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .displayADish-skeleton-desktop {
    display: none;
  }

  .displayADish-skeleton-mobile {
    display: block;
    border-radius: 5px;
    padding: 3%;
    width: 80%;
    margin: auto;
    box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  
  }
} 
