.login-modale {
  border: solid 3px rgb(243, 149, 8);
  width: 500px;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  margin: auto;
}
.login-title {
  margin: 1rem;
  font-size: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.login-form-input {
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(255, 68, 0, 0.295);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.login-form-input:focus {
  background-color: rgba(255, 68, 0, 0.226);
}

.login-form-submit, .logout-button {
  padding: 0.65em;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
}

.login-form-message {
  color: brown;
}

.login-form-button-close {
  width: 20px;
  background-color: orangered;
  color: white;
  border-radius: 50%;
  text-align: center;
  border: none;
  right: 10px;
  position: absolute;
  padding: 0.2rem;
}
