@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.login-modale {
  // width: 850px;
  border-radius: 1rem;
  display: flex;
  position: fixed;
  background: #35394a;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  overflow: hidden;
  top: 180px;
  left: 50%;
  margin-left: -350px;
  margin-top: 20px;
  z-index: 9999;
  justify-content: center;
  perspective: 850px;
  height: 50vh;
  font-family: 'Gudea', sans-serif;
  box-shadow: #f8a587a9 0.5px 1px 2px 1px;
}

.login-modale-close {
  display: none;
} 

.login-title {
  margin: 4em 1rem 1em 1.5em;
  text-align: left;
  font-size: 1.5rem;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-input-div {
  height: 208px;

}
.login-form-input {
  width: 100%;
  border: 1px solid rgba(44, 40, 54, 0.295);
  padding: 1.5em 2.5rem;
  cursor: text;
  color: #f8a587;
  background-color: #32364a;
  outline: none;
  font-family: "Gudea", sans-serif;
  box-shadow: none;
  font-size: 1.1em;
}

input:placeholder{
  color: #f8a587;
}
.login-form-submit {
  margin: 3em;
  border-radius: 50px;
  background: transparent;
  padding: 1.2em 50px;
  border: 2px solid #f8a587;
  color: #f8a587;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.2s;
}

.logout-button{
  position: absolute;
  right: 10px;
  top: 50px;
  border-radius: 50px;
  background: transparent;
  padding: 0.5em 30px;
  border: 2px solid #f8a587;
  color: #f8a587;
  text-transform: uppercase;
  transition-property: background, color;
  transition-duration: 0.2s;
}

.login-form-submit:hover{
  color:black;
  background:#f8a587 ;
  cursor:pointer;
  transition-property:background,color;
  transition-duration:.2s;
}

.login-form-message {
  color: brown;
}

.login-form-button-close {
  width: 20px;
  background-color: #f8a587;
  color: white;
  border-radius: 50%;
  text-align: center;
  border: none;
  right: 10px;
  position: absolute;
  padding: 0.2rem;
}
