@use 'reset';
@use 'vars';

body * {
  font-family: "Gudea", sans-serif;
}

.slick-slide img {
  max-height: 18em;
  object-fit: cover;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/

.react-autosuggest__suggestions-container {
  background: #fcc4b0fa;
  width: 300px;
  position: absolute;
}

.react-autosuggest__suggestion {
  font-size: 1.2em;
  padding: 0.3em;
}

.react-autosuggest__suggestion:hover {
  background-color: #{vars.$darkBlue};
  color: white;
  cursor: pointer;
}