@use 'src/styles/vars';
@use 'sass:color';
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #{vars.$coral};
}

input:focus + .slider {
  box-shadow: 0 0 1px #{vars.$coral};
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.meal {

  &-page {
    background-color: #{vars.$coral};
    height: 100vh;
    display: flex;
    font-size: 1.2rem;
  }

  &-form-div {
    width: auto;
    height: 50%;
    background-color: #{vars.$darkBlue};
    border-radius: 15px;
    margin: 6rem auto;
    box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  }
  &-title {
    font-size: 28px;
    font-weight: 600;
    margin-top: 2rem;
    color: white;
    font-family: 'Gudea', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &-form-right {
    display: flex;
    flex-direction: column;
    align-items: center;
   // border-left: 2px solid #{vars.$coral};
   // padding-left: 3em;

  }
  &-input {
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    width: 560px;
    font-size: 1.1rem;
  }

  &-input:focus {
    border: none;
    background-color: #facfc0;
  }

  &-image-div {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding-right: 3em;
  }
  &-img{
    margin: 1rem;
    border-radius: 5px;
    object-fit: cover;
  }
  
  &-form-labels {
    width: 176px;
    display: block;
  }

  &-category{
    padding: 0.65em;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
  }

  &-form-element{
    display: flex;
    padding: 3rem;
    margin: 1em;

  }
  &-form-submit {
    display: block;
    border-radius: 50px;
    background: transparent;
    padding: 0.8em 30px;
    text-transform: uppercase;
    color:black;
    background:#f8a587 ;
    cursor:pointer;
    transition-property:background,color;
    transition-duration:.5s;
    margin-top: 4rem;
    font-size: 0.9em;
    border: none;
    width: 150px;

  }
  &-form-submit:hover {
    background: transparent;
    border: 2px solid #f8a587;
    color: #f8a587;
    transition-duration:.5s;
    transition-property:background,color;

  }
  &-form-cancel {
    border-radius: 50px;
    background: transparent;
    padding: 0.8em 30px;
    border: 2px solid #f8a587;
    color: #f8a587;
    width: 100px;
    text-align: center;
  }

  &-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &-form-select {
    display: flex;
    margin: 10px 0;
  }

  &-category {
    background-color: #{vars.$coral};
    margin: 10px 10px;
    width: 250px;
    color: black;
  }

}
input#picture {
  background-color: #{vars.$coral};

}

.meal-online-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  margin: 5em auto;
  color: white;
}

// select ingredients Input
.css-2b097c-container {
  width: 560px;
  border: none;
  margin-bottom: 0.5rem;
  color: black;
}


@media screen and (max-width: 415px) {

  .meal
  {
    &-page {
      height: 114vh;
      display: flex;
      flex-direction: column;
      padding-bottom: 1.3rem;
    }
    &-title {
      margin:0.4rem;
    }
  
    &-form-div {
      display:flex;
      flex-direction: column;
      margin:1rem;
      width: 90%;
      height: 100%;
      background-color: #{vars.$darkBlue};
      border-radius: 15px;
      // margin: 6rem auto;
      box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
    }
  

 
    &-form-element{
      display: flex;
      flex-direction: column;
      padding:0.5rem;
      margin: 0;
      
    }
 
    
    &-image-div {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: auto;
      padding-right: 0.5rem;
      
    }
    &-img {
      margin: 0.2rem auto;
      border-radius: 5px;
      object-fit: cover;
      width: 150px;
    }
 
    &-input {
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.1rem;
  }

  &-input:focus {
    border: none;
    background-color: #facfc0;
  }
  &-form-select{
    flex-direction: column;
    margin:0;
  }
  &-form-submit{
    margin:0.2rem;
  }
  &-buttons{
    margin:0px;
  }

    
    }
   
    

  input#picture {
    background-color: #{vars.$coral};
  }
  
  .meal-online-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 215px;
    margin: 0.5em auto;
    color: white;
  }
  
  // select ingredients Input
  .css-2b097c-container {
    width: 100%;
    border: none;
    margin-bottom: 0.5rem;
    color: black;
  }

  }
  