.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(33, 243, 33);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(33, 243, 33);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.meal {
  &-title {
    margin-top: 1rem;
    font-size: 28px;
    font-weight: 600;
  }
  &-page{
    background: rgb(247, 209, 139);
    display: grid;
    grid-template-areas: "." ".";
    width: 900px;
    margin: auto;
  }
  &-form{
    
    color: rgb(46, 12, 12);
    margin:auto;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content:center;
  }
  &-input {
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    width: 360px;
  }
  &-image-div {
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  &-img{
    margin: 1rem;
    border:1px solid rgb(247, 191, 107);
    border-radius: 5px;
    object-fit: cover;
  }
  
  
  &-form-labels {
    width: 176px;
    display: block;
    margin-bottom: 5px;
  }

  &-category{
    padding: 0.65em;
  background-color: rgba(255, 68, 0, 0.918);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 1rem 0;
  font-weight: bold;
  }

  &-form-element{
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  &-form-submit {
    padding: 0.65em;
    background-color: rgb(117, 69, 51);
    color: white;
    border-radius: 5px;
    border: none;
    width: 108px;

  }
  &-form-cancel {
    padding: 0.65em;
    background-color: rgb(224, 169, 149);
    color: white;
    border-radius: 5px;
    border: none;
    width: 88px;

  }

  &-form-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &-form-select {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }

  &-category {
    background-color: rgb(167, 94, 46);
    margin: 10px 10px;
  }

}
#input[id="picture"]{
  display: none;
}

.meal-online-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 215px;
  margin: 15px auto;
}
