
.swap-content-succes{
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 2em;
}

.swap {
  // display: flex;
}

.swap-title {
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  margin: 1em 0 0.5em 0;
  letter-spacing: 2px;
  text-align: center;
}

.swap-cards {
  display: flex;
  margin: auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.swap-card {
  line-height: 1.5;
  border-radius: 10px;
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  transition: box-shadow 0.1s linear;
}

.swap-card:hover {
  box-shadow: 0 12px 15px 0 #03030396, 0 17px 50px #0707079a;
  transform: scale(1.1);
}

.swap-card-selected {
  box-shadow: none;
  border: 2px solid green;
}

.swap-card-img {
  
  width: auto;
  height: 150px;
  border: solid 1px grey;
}

.swap-card-name {
  margin: 0.5em 0;
  font-size: 1.2em;
  color: orangered;
  text-align: center;
}


