
.face{

  &-container{
    display: flex;
    justify-content: space-between;  
  }

  &-image{
    color: black;
       font-weight: bold;
       height: 200px;
  }

  &-page{
    padding: 200px 200px 400px;
  }

  &-titre-image{
    font-size: x-large;
    padding-top: 2rem;
  }

  &-title{
    font-size: xx-large;
    margin:40px;
  }
}
figure 
{
    margin: auto;
    text-align: center;
}
figure img
{
    border-radius: 100px;
    border: solid 6px orange;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure img:hover 
{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
