@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

@media only screen and (min-device-width: 668px) {
  .menu {
    background-color: #262835;
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    color: white;
    box-shadow: #f8a587a9 0.5px 3px 3px 2px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-username {
      display: flex;
      align-items: center;
    }

    &-userLogo {
      width: 2rem;
      margin: 0 0.7rem 0 0;
    }

    &-textForUser {
      margin: 0 2rem 0 0;
      font-size: 1.4rem;
      font-family: Gudea,sans-serif;
    }

    &-links {
      display: flex;
      align-items: center;
      width: 80%;
      justify-content: space-around;
      padding: 0 2rem;

      &-logout {
        padding-right: 6rem;
      }
    }

    &-logoutButton {
      display: none;
    }

    &-link {
      font-size: 1.3rem;
      padding: 0.5rem;
      color: rgb(247, 243, 243);
      margin: 0 1em;
      font-family: 'Gudea', sans-serif;
      letter-spacing: 0.1em;
    }

    &-link:hover {
      color: #f1bdb0;
    }
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .menu {
    background-color: #262835;
    //box-shadow: #f8a587a9 0.5px 3px 3px 2px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    &-burger {
      width: 5rem;
      display: flex;
      // padding-left: 1rem;
      align-items: center;
      justify-content: center;
    }

    .icon {
      width: 1rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 3.2rem;
      width: 100vw;
      background-color: #f8a587;
      padding: 0 0.5rem;
      text-align: left;
      height: 0px;
      transition: height ease 0.5s;
      overflow: hidden;
  
      &.open {
        height: 176px;
      }
    }

    &-username {
      padding-right: 1rem;
    }

    &-userLogo {
      width: 1rem;
    }

    &-textForUser {
      font-size: 0.5rem;
    }
    
    &-logoutButton {
      left: 18.7rem;
      top: 0;
      padding: 1.7em 1.9em;
      position: relative;
      border-radius: 5rem;
      background: transparent;
      border: 2px solid #262835;
      color: #262835;
      text-transform: uppercase;
      transition-property: background, color;
      transition-duration: 0.2s;
      width: fit-content;
      margin-top: 0.5rem;
    }
    &-links {
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-link {
      border-bottom: 1px solid #daa794;
      padding: 0.3rem 0;

      &:last-child {
        border: none;
      }
    }
  }
}
