.footer{
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #262835;
  padding: 2rem;
  color: rgb(238, 229, 229);
  border-top: 1px solid #191a20;
  font-family: 'PT Sans', cursive;
  letter-spacing: 0.1em;
  font-size: 1.4rem;

  &-link {
    margin-right: 2rem;
  }
}



@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {

  .footer{
      display: flex;
      justify-content:space-evenly;
      margin: auto;
      width: 100vh;
      text-align: center;
      background-color: #262835;
      padding: 2rem;
      color: white;
      border-top: 1px solid #191a20;
    
      &-link {
        margin-right: 2rem;
      
    }
  }
  }
  


@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {

.footer{
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    width: 100vh;
    text-align: center;
    background-color: #262835;
    padding: 2rem;
    color: white;
    border-top: 1px solid #191a20;
  
    &-link {
      margin-right: 2rem;
    
  }
}
}

