.footer {
  width: 100%;
  background-color: #262835;
  padding: 0.7rem;
  color: rgb(238, 229, 229);
  letter-spacing: 0.1em;
  font-size: 1.4rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 60% 13% 6%;
  grid-template-areas:
    "header header social social"
    "linkEntrees linkDishes linkDessert lastDish"
    "link link link link"
    "footer footer footer footer";

  &-logo {
    grid-area: header;
    justify-self: start;
    margin-left: 2rem;
    &-FS {
      width: 15rem;
    }
  }

  &-logo-social {
    grid-area: social;
    grid-column: 4;
    width: 27rem;
    height: 8.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 75%;
    grid-template-areas: "insta . fb . tw";

    &-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      padding: 0.3rem;

      &:hover {
        p {
          color: #f8a587;
        }
      }
    }

    &-text {
      font-size: 1.3rem;
    }

    &-instagram {
      width: 3rem;
    }
    &-instagram :hover {
      color: rgb(248, 165, 135);
    }

    &-facebook-square {
      width: 3rem;
    }

    &-twitter-square {
      width: 3rem;
    }
  }

  .insta {
    grid-area: insta;
  }

  .fb {
    grid-area: fb;
  }
  .tw {
    grid-area: tw;
  }

  &-link {
    margin-right: 2rem;
  }

  &-city-entreesLink {
    grid-area: linkEntrees;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-items: center;

    &-title {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      font-size: 2rem;
      margin-right: 1.1rem;
    }

    &-list {
      font-size: 1.1rem;
      align-items: center;
    }

    &-list :hover {
      color: rgb(248, 165, 135);
    }

    &-tenLastDishes {
      display: flex;
      align-items: flex-start;
      line-height: 1.9rem;
    }
  }

  &-city-dishesLink {
    grid-area: linkDishes;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-items: center;

    &-title {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      font-size: 2rem;
      margin-right: 6.2rem;
    }

    &-list {
      font-size: 1.1rem;
      align-items: center;
    }

    &-list :hover {
      color: #f8a587;
    }

    &-tenLastDishes {
      display: flex;
      align-items: flex-start;
      line-height: 1.9rem;
    }
  }

  &-city-dessertLink {
    grid-area: linkDessert;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    align-items: center;

    &-title {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      font-size: 2rem;
      margin-right: 1.5rem;
    }

    &-list {
      font-size: 1.1rem;
      align-items: center;
    }

    &-list :hover {
      color: #f8a587;
    }

    &-tenLastDishes {
      display: flex;
      align-items: flex-start;
      line-height: 1.9rem;
    }
  }

  &-lastDishes {
    grid-area: lastDish;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      display: flex;
      justify-content: flex-start;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &-list {
      font-size: 1.1rem;
      align-items: center;
    }
    &-dish {
      display: flex;
      flex-direction: row;
      line-height: 1.9rem;
    }

    &-dish :hover {
      color: #f8a587;
    }

    &-dishInfos {
      display: flex;
      flex-direction: row;
    }
    &-name {
    }
    &-city {
    }
  }

  &-legal {
    grid-area: link;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &-legal :hover {
    color: #f8a587;
  }

  &-nav {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
  }

  &-hautPage {
    font-size: 1.3rem;
  }

  &-hautPage :hover {
    color: #f8a587;
  }

  &-text {
    font-size: 1.3rem;
    margin-right: 2rem;
  }

  &-haut-de-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 101%;
    grid-template-areas: "text text arrow";
  }

  &-up-page {
    grid-area: text;
  }

  &-arrow-up {
    font-size: 2.4rem;
    grid-area: arrow;

    &:hover {
      color: #f8a587;
    }
  }
}

// @media screen and (max-width: 768px) {

//   .footer{
//       display: flex;
//       justify-content:space-evenly;
//       margin: auto;
//       font-size:0.8rem;
//       // width: 100vh;
//       text-align: center;
//       background-color: #262835;
//       // padding: 2rem;
//       color: white;
//       border-top: 1px solid #191a20;

//       &-link {
//         margin-right: 2rem;
//     }
//   }
//   }

@media screen and (max-width: 415px) {
  .footer {
    font-size: 0.6rem;
    padding: 1rem;
    width: 100%;
    background-color: #262835;
    color: #eee5e5;
    letter-spacing: 0.1em;
    height: 18rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 29% 28%;
    grid-template-areas:
      "social social social"
      "link link link"
      "footer footer footer";

    &-link {
      margin: auto;
    }

    &-hautPage {
      display: none;
    }

    &-content {
      padding: 2px;
    }

    &-logo {
      display: none;
      grid-area: none;
      justify-self: none;
      margin-left: none;
      &-FS {
        width: none;
      }
    }

    &-logo-social {
      grid-area: social;
      width: 7rem;
      height: 9.2rem;
      margin-left: 4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 65%;
      grid-template-areas: "insta . fb . tw";

      &-text {
        font-size: 1rem;
      }

      &-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.3rem;

        &:hover {
          p {
            color: #f8a587;
          }
        }
      }

      &-text {
        font-size: 1.1rem;
      }

      &-instagram {
        width: 3.4rem;
      }
      &-instagram :hover {
        color: rgb(248, 165, 135);
      }

      &-facebook-square {
        width: 3.4rem;
      }

      &-twitter-square {
        width: 3.4rem;
      }
    }

    &-city-entreesLink {
      grid-area: non;
      display: non;
      flex-direction: non;
      font-size: non;
      align-items: non;

      &-title {
        display: none;
        flex-direction: none;
        margin-bottom: none;
        font-size: none;
        margin-right: none;
      }

      &-list {
        font-size: none;
        align-items: none;
      }

      &-list :hover {
        color: none;
      }

      &-tenLastDishes {
        display: none;
        align-items: none;
        line-height: none;
      }
    }

    &-city-dishesLink {
      grid-area: non;
      display: non;
      flex-direction: non;
      font-size: non;
      align-items: non;

      &-title {
        display: none;
        flex-direction: none;
        margin-bottom: none;
        font-size: none;
        margin-right: none;
      }

      &-list {
        font-size: none;
        align-items: none;
      }

      &-list :hover {
        color: none;
      }

      &-tenLastDishes {
        display: none;
        align-items: none;
        line-height: none;
      }
    }

    &-city-dessertLink {
      grid-area: non;
      display: non;
      flex-direction: non;
      font-size: non;
      align-items: non;

      &-title {
        display: none;
        flex-direction: none;
        margin-bottom: none;
        font-size: none;
        margin-right: none;
      }

      &-list {
        font-size: none;
        align-items: none;
      }

      &-list :hover {
        color: none;
      }

      &-tenLastDishes {
        display: none;
        align-items: none;
        line-height: none;
      }
    }

    &-lastDishes {
      grid-area: none;
      display: none;
      flex-direction: none;
      align-items: none;

      &-title {
        display: none;
        justify-content: none;
        font-size: none;
        margin-bottom: none;
      }

      &-list {
        font-size: none;
        align-items: none;
      }
      &-dish {
        display: none;
        flex-direction: none;
        line-height: none;
      }

      &-dish :hover {
        color: none;
      }

      &-dishInfos {
        display: none;
        flex-direction: none;
      }
    }

    &-legal {
      flex-direction: column;
      justify-content: space-evenly;
    }

    &-nav {
      flex-direction: column;
    }
  }
}
