@use 'src/styles/vars';
@use 'sass:color';
 
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.exchangeTracking{
  background: #{vars.$darkBlue};
  background: #{vars.$gradientDarkBlue};
  border-radius: 1rem;
  padding: 0.8rem;
  margin: 2em auto;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Gudea', sans-serif;

  // &-container {
  //   margin-left: auto;
  // }
  &-panel {
    display: none;
  
    &.active {
      display: block;
    }
  }

  &-title {
    color: white;
    font-size: 1.8em;
    margin: 2em;
  }

  &-menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-menuContent {
    display: flex;
  }
  
  &-tab {
    padding: 1.5em;
    margin-bottom: 10px;
    border-top: 1px solid #{vars.$coral};
    border-left: 1px solid #{vars.$coral};
    border-right: 1px solid #{vars.$coral};
    cursor: pointer;
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 15px;
  }

  &-tab:active {
    background-color: #{vars.$coral};
    color: black;
    transition: 0.1s;
  }

  &-body {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    background-color: #{vars.$darkBlue};
    width: 80%;
  }

  &-img {
    height: 50px;
    width: 50px;
  }

  &-line {
    padding: 3em;
    width: 100%;
    border-bottom: 1px solid #242130;
    background-color: #{vars.$darkBlue};
    color: white;
  }

  &-line, &-description, &-actions {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  &-textContainer {
    margin: 0 1rem 0;
    &-text {
      margin: 0.3rem;
    }
  }

  &-actions {

    &-container {
      margin-left: 1rem;
      padding: 1rem;
    }

    &-buttonRefuse {
      margin-left: 1rem;
    }

    &-textAccept {

    }

    &-buttonContact {
      margin-top: 1rem;
    }

    &-textRefuse {

    }
  }
}
