@use 'src/styles/vars';
@use 'sass:color';
 
@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);

.exchangeTracking{
  background: #{vars.$gradientDarkBlue};
  border-radius: 1rem;
  padding: 2rem 5.2rem;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  font-family: 'Gudea', sans-serif;
  font-size: 1.2em;


  // &-container {
  //   margin-left: auto;
  // }
  &-page {
    background-color: #{vars.$coral};
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 188px);
    display: flex;
    // min-height: 80vh;
  }
  &-panel {
    display: none;
  
    &.active {
      display: block;
      border: 1.1px solid #{vars.$coral};
    }
  }

  &-title {
    color: white;
    font-size: 1.8em;
    margin: 2em;
  }

  &-menuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-menuContent {
    display: flex;
  }
  
  &-tab {
    padding: 1.5em;
    margin-bottom: 10px;
    border: 1px solid #{vars.$coral};
    border-bottom: none;
    cursor: pointer;
    color: white;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 15px 15px 0 0;

    &.active {
      background-color: #{vars.$coral};
      color: black;
      transition: 0.1s;
    }
  }

  // &-body {
  //   display: flex;
  //   justify-content: center;
  //   border-radius: 1rem;
  //   background-color: #{vars.$darkBlue};
  //   width: 100%;
  // }

  &-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: #242130 1px 3px;
    background-size: cover;
    background-position: center center;
  }

  &-line {
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid #242130;
    background-color: #{vars.$darkBlue};
    color: white;
  }
  
  &-line, &-description, &-actions {
    align-items: center;
    justify-content: start;
    display: flex;
  }

  &-textContainer {
    margin: 0 1rem 0;
    font-size: 1.2rem;
    width: 220px;
    text-transform: capitalize;
    
    &-text {
      margin: 0.3rem;
      margin: 0.8rem 0.1rem;
      color: #f8a587;
    }
  }

  &-informations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 2em;
    border-left: #242130 solid 1px;
    border-right: #242130 solid 1px;
  }

  &-dateContainer {
    display: flex;
    flex-direction: column;
    &-text {
      margin-bottom: 1rem;
    }
    &-date {
      width: 200px;
      color: #f8a587;
    }
  }

  &-actions {
    &-container {
      margin-left: 1rem;
      // padding: 1rem;
      margin: 0 2em;
      width: 100%;
      border-left: 1px solid #242130;
      border-right: 1px solid #242130;
    }

    &-buttonAccept {
      border-radius: 50px;
      background: transparent;
      padding: 1.2em 50px;
      border: 2px solid #f8a587;
      text-transform: uppercase;
      font-size: 11px;
      color:black;
      background:#f8a587 ;
      cursor:pointer;
      transition-property:background,color;
      transition-duration:.5s;
    }

    &-buttonAccept:hover {
      border-radius: 50px;
      background: transparent;
      padding: 1.2em 50px;
      border: 2px solid #f8a587;
      color: #f8a587;
      transition-property: background, color;
      transition-duration: 0.2s;
    }

    &-buttonRefuse {
      margin-left: 1rem;
      border-radius: 50px;
      background: transparent;
      padding: 1.2em 50px;
      border: 2px solid #f8a587;
      color: #f8a587;
      text-transform: uppercase;
      font-size: 11px;
      transition-property: background, color;
      transition-duration: 0.2s;
    }

    &-text-accept {
      display: flex;
      align-items: baseline;
      // margin-left: 20px;
      width: 100%;
      margin-left: 3rem;
      &-reciver {
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: center;
      }

    }

    &-div-contact {
      display: flex;
      flex-direction: row;
    }

    &-buttonContact {
      display: block;
      margin: 3em;
      border-radius: 50px;
      background: transparent;
      padding: 1.2em 50px;
      border: 2px solid #f8a587;
      color: #f8a587;
      text-transform: uppercase;
      font-size: 11px;
      transition-property: background, color;
      transition-duration: 0.2s;
    }

    &-buttonContact:hover {
      color:black;
      background:#f8a587 ;
      cursor:pointer;
      transition-property:background,color;
      transition-duration:.2s;
    }

    &-waiting {
      animation: color-change 3s infinite ease-out forwards;
      margin-left: 15px;
    }

    @keyframes color-change {
      0% { color: linear-gradient(#f7f2f1, #{vars.$coral});}
      50% {color: #f3cabb}
      100%{ color: linear-gradient(#f7f2f1, #{vars.$coral});}
        
    }
  }
}

@media only screen and (max-device-width: 415px) {
  .exchangeTracking{
    background: #{vars.$gradientDarkBlue};
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: none;
    font-family: 'Gudea', sans-serif;
    font-size: 0.7rem;
  
    // &-container {
    //   margin-left: auto;
    // }
    &-page {
      background-color: #{vars.$coral};
      height: 100%;
      width: 100%;
    }
    &-panel {
      display: none;
    
      &.active {
        display: block;
        border: 1.1px solid #{vars.$coral};
      }
    }
  
    &-title {
      color: #fff;
      font-size: 2.5em;
      margin: 0.3em;
      padding: 0.7rem;
    }
  
    &-menuContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-menuContent {
      display: flex;
    }
    
    &-tab {
      padding: 1.5em;
      margin-bottom: 10px;
      border: 1px solid #{vars.$coral};
      border-bottom: none;
      cursor: pointer;
      color: white;
      position: relative;
      top: 10px;
      left: 10px;
      border-radius: 15px 15px 0 0;
  
      &.active {
        background-color: #{vars.$coral};
        color: black;
        transition: 0.1s;
      }
    }
  
    // &-body {
    //   display: flex;
    //   justify-content: center;
    //   border-radius: 1rem;
    //   background-color: #{vars.$darkBlue};
    //   width: 100%;
    // }
  
    &-img {
      height: 100px;
      width: 100px;
      border-radius: 5px;
      box-shadow: #242130 1px 3px;
      background-size: cover;
      background-position: center center;
    }
  
    &-line {
      width: 100%;
      border-bottom: 1px solid #242130;
      background-color: #{vars.$darkBlue};
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
    }
    
    &-description, &-actions {
      align-items: center;
      // justify-content: start;
      display: flex;
    }
  
    &-textContainer {
      margin: 0 1.6rem;
      font-size: 1rem;
      width: 33vw;
      text-transform: capitalize;
      
      &-text {
        margin: 0.3rem;
        margin: 0.8rem 0.1rem;
        color: #f8a587;
      }
    }
  
    &-informations {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0;
      border-left: none;
      border-right: none;
      margin-top: 1rem;
    }
  
    &-dateContainer {
      display: flex;
      flex-direction: row;
      margin-top: 16px;
      &-text {
        margin-bottom: 1rem;
      }
      &-date {
        width: auto;
        color: #f8a587;
        margin-left: 5px;
      }
    }
  
    &-actions {
      &-container {
        margin: 0;
        margin-top: 1.2em;
        width: 100%;
        border-left: 1px solid #242130;
        border-right: 1px solid #242130;
      }
  
      &-buttonAccept {
        border-radius: 50px;
        background: transparent;
        padding: 1em 41px;
        border: 2px solid #f8a587;
        text-transform: uppercase;
        font-size: 11px;
        color:black;
        background:#f8a587 ;
        cursor:pointer;
        transition-property:background,color;
        transition-duration:.5s;
      }
  
      &-buttonAccept:hover {
        border-radius: 50px;
        background: transparent;
        padding: 1em 41px;
        border: 2px solid #f8a587;
        color: #f8a587;
        transition-property: background, color;
        transition-duration: 0.2s;
      }
  
      &-buttonRefuse {
        margin-left: 1rem;
        border-radius: 50px;
        background: transparent;
        padding: 1em 41px;
        border: 2px solid #f8a587;
        color: #f8a587;
        text-transform: uppercase;
        font-size: 11px;
        transition-property: background, color;
        transition-duration: 0.2s;
      }
  
      &-text-accept {
        display: flex;
        align-items: baseline;
        margin-left: 0;
        width: 100%;
        &-reciver {
          display: flex;
          align-items: baseline;
          width: 100%;
          justify-content: center;
        }
  
      }
  
      &-div-contact {
        display: flex;
        flex-direction: row;
      }
  
      &-buttonContact {
        display: block;
        margin: 0;
        margin-left: 1em;
        border-radius: 50px;
        background: transparent;
        padding: 1em 41px;
        border: 2px solid #f8a587;
        color: #f8a587;
        text-transform: uppercase;
        font-size: 11px;
        transition-property: background, color;
        transition-duration: 0.2s;
      }
  
      &-buttonContact:hover {
        color:black;
        background:#f8a587 ;
        cursor:pointer;
        transition-property:background,color;
        transition-duration:.2s;
      }
  
      &-waiting {
        animation: color-change 3s infinite ease-out forwards;
        margin-left: Opx;
      }
  
      @keyframes color-change {
        0% { color: linear-gradient(#f7f2f1, #{vars.$coral});}
        50% {color: #f3cabb}
        100%{ color: linear-gradient(#f7f2f1, #{vars.$coral});}
          
      }
    }
  }
}

