.panel {
  display: none;

  &.active {
    display: block;
  }

  img {
    height: 50px;
    width: 50px;
  }

  .line, .description, .actions {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .line {
    border: 1px solid;
    padding: 5px;
    margin: 5px;
  }
}
