@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ranchers&display=swap');


.big-title {
	text-align: center;
	text-transform: uppercase;
	position: absolute;
  top: 30%;
  left: 20%;
  z-index: 11;
  letter-spacing: 25px;
  color: #fff;
  font: 900 80px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.945);
  margin-left: auto;

}
.welcome {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;

  video {
    width: 100vw;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 10;
  }

  
}

.welcome-blur {
    filter: brightness(0.4) saturate(0.5) contrast(1.2) blur(10px);
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
  display: flex;
}
