.welcome {
  padding: 1rem 4.5rem 1rem;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  &-title {
    font-size: 3.5rem;
    color: #f8f7f6;
    margin: 1rem 0 3rem;
  }

  &-blockText {
    margin: 1.8rem 0 0.2rem;
    background-color: rgba(39, 35, 35, 0.705);
    width: 850px;
    text-align: center;
    border-radius: 20px;
    padding: 2rem;
    margin:auto;

  }

  &-paragraph {
    margin-bottom: 1.4rem;
  }

  &-text {
    color: #eee5df;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}
